{
  "presets": [["@babel/preset-env", {"useBuiltIns": "usage", "corejs": 3}], "@babel/preset-react"],
  "plugins": [
    ["import", { "libraryName": "antd", "style": "css" }], // `style: true` for less
    "react-hot-loader/babel",
  ]
}