.DS_Store
.vagrant
.idea
*.pyc
trailersafeguard_project/db.sqlite3
trailersafeguard_project/static
trailersafeguard_project/celerybeat.pid
bikeshop_project/static/CACHE
.bundle
bikeshop_project/vendor
