.DS_Store
.vagrant
.idea
*.pyc
trailersafeguard_project/db.sqlite3
trailersafeguard_project/static
trailersafeguard_project/celerybeat.pid
bikeshop_project/static/CACHE
.bundle
bikeshop_project/vendor
bikeshop_project/assets/bundles
bikeshop_project/webpack-stats.json
/bikeshop_project/htmlcov
/bikeshop_project/.coverage
node_modules
whoosh_index
__pycache__
npm-debug.log
bikeshop_project/assets/dist
npm-debug.log
bikeshop_project/webpack-stats-prod.json
/workstand.env
