.DS_Store
.vagrant
.idea
*.pyc
.bundle
vendor
assets/bundles
webpack-stats.json
htmlcov
.coverage
node_modules
whoosh_index
__pycache__
npm-debug.log
assets/dist
npm-debug.log
webpack-stats-prod.json
/workstand.env
/static/

\.vscode/
