[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
factory-boy = "*"
flake8 = "*"
mock = "*"
model-mommy = "==1.5.0"
PyYAML = "*"
Whoosh = "==2.7.4"

[packages]
algoliasearch = "==1.10.0"
beautifulsoup4 = "*"
channels = "==2.3.1"
channels-redis = "*"
dj-database-url = "*"
Django = "==2.2.28"
django_compressor = "==2.3.0"
django-cors-headers = "*"
django-fsm = "==2.6.0"
django-haystack = "==2.8.1"
django-haystack-algolia = {editable = true,git = "https://github.com/drwlrsn/django-haystack-algolia.git",ref = "django-1.19"}
#haystack-algolia = {editable = true,path = "./../django-haystack-algolia"} # Keep this around to update backend.
django-libsass = "==0.7"
django-multiselectfield = "==0.1.11"
django-redis-cache = "*"
django-waffle = "==0.16.0"
django-webpack-loader = "==0.6.0"
django-widget-tweaks = "==1.4.1"
djangorestframework = "==3.9.4"
djangorestframework-jwt = "==1.11.0"
elasticsearch = ">=5.0.0,<6.0.0"
mailchimp3 = "==2.0.14"
psycopg2 = "==2.7.3.2"
python-dateutil = "==2.6.0"
pytz = "==2017.2"
requests = "*"
rollbar = "==0.14.1"
service-identity = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
